/*
Theme Name: Material Template
Description: Bootstrap theme with material navigation
Author: Steve
Version: 1.0
*/
body{
  background:#f9f9f9;
}
.navbar-expand-lg .navbar-nav.side-nav{
  flex-direction: column;
}
.header-top{
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
}
@media(min-width:992px) {
.leftmenutrigger{
  display: block;
  display: block;
  margin: 7px 20px 4px 0;
  cursor: pointer;
}

.navbar-nav.side-nav.open {
  left:0;
}
.navbar-nav.side-nav{
  background: #585f66;
  box-shadow: 2px 1px 2px rgba(0,0,0,.1);
  position:fixed;
  top:56px;
  flex-direction: column!important;
  left:-220px;
  width:200px;
  overflow-y:auto;
  bottom:0;
  overflow-x:hidden;
  padding-bottom:40px;
}
}
@media (max-width: 992px){
  #left{
    display: none;
  }
}
nav.navbar.header-top.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    box-shadow: 3px 3px 15px #433E3D;
    /* border: 1px solid #664949; */
}
.navbar-brand {
    color: #222;
    font-size: 20px;
    font-weight: 600;
}
.fa-bars{
  font-size: 25px;
  color:orange;
}
.animate{
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}
#fullPage{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, blue, red);
}
#btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
